
html body{
    font-family: 'Roboto', sans-serif;
}

.contact-container {
    background-color: #c6cef4;
    opacity: 0.8;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 40px 20px 40px auto; 
    display: flex; 
    flex-direction: column; 
    
    
}


h1 {
    text-align: center;

    font-size: 3rem;
    margin-bottom: 20px;
}


.contact-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 20px;
}

label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 120px;
}


button.send-button {
    padding: 12px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.send-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

button.send-button:active {
    transform: translateY(1px);
}


.text {
    background-color: #f2d7da;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 10px;
    position: absolute;
    left: 20px;
    top: 40%;
    transform: translateY(-50%);
}

.text h2 {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.5;
    margin: 0;
}





@media (max-width: 768px) {
    .contact-container {
        position: static;
        transform: none;
        margin: 20px auto;
        width: 90%;
    }

    .text {
        position: static;
        transform: none;
        margin: 20px auto;
        width: 90%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
